/* General Formatting */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	background: #202020;
	position: relative;
	min-height:100%;
	padding-bottom: 17rem;
	box-sizing: inherit;
	overflow-x: hidden;
}

/* Header Formatting */

.banner {
	background-color: black;
	height: 70px;
}

.banner h1 {
	color: #FFF;
	text-align: center;
	padding-top: 20px;
}

/* Main page text */

.text {
	color: whitesmoke;
	font-size: 1.2rem;
	width: 40%;
	min-width: 300px;
	text-align: justify;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 135%;
}

.text a {
	color: deepskyblue;
	text-decoration: none;
}

.text a:visited {
	color: purple;
}

.text a:hover {
	color: red;
}

.text a:active {
	color: darkred;
}

/* Navigation menu */

.navlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	top: 0;
}

.navlist_em {
	float: left;
}

.navlist_em a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 50px;
	text-decoration: none;
	font-family: sans-serif;
}

.navlist_em a:hover {
	background-color: #F0F0F0;
	color: #111;
	transition: all 0.4s ease;
}

.active {
	background-color: #DC143C;
}

@media screen and (max-width: 800px) {
	.navlist li {float: none;}
}

/* Footer Formatting */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: sans-serif;
	padding-top: 30px;
	color: #fff;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 2rem;
	font-weight: 200;
	line-height: 3rem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li {
	margin: 0 10px;
}

.socials a {
	text-decoration: none;
	color: #fff;
}

.socials a i {
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i {
	color: #DC143C;
}

.footer-end {
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-end p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

/* Homepage */

.home img {
	width: 50vw;
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 25px;
	min-width: 350px;
}

.home-intro {
	text-align: center;
	margin-bottom: 30px;
}

.home hr {
	margin: 10px auto;
	color: white;
	width: 60vw;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container a {
	text-decoration: none;
}

.card {
	box-shadow: 0 30px 30px 0 rgb(0,0,0,0.5);
	background: #DCDCDC;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}

.card-image {
	height: 170px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.hc1 {
	background-image: url("../Photos/code.jpg");
}

.hc2 {
	background-image: url("../Photos/schem.png");
}

.hc3 {
	background-image: url("../Photos/circuit.jpg");
}

.card h2 {
	padding: 10px;
	text-align: center;
}

.card p {
	padding-bottom: 8px;
	text-align: center;
}

.card ul {
	padding: 10px;
}

.card:hover {
	box-shadow: 0 40px 40px 0 rgb(0,0,0,0.8);
	background-color: rgb(62, 62, 62);
	color: white;
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.4s ease;
}

/* Projects page */

.projects-intro h1 {
	color: white;
	text-align: center;
	float: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.projects-intro hr {
	color: whitesmoke;
	width: 20vw;
	min-width: 200px;
	margin: 0 auto;
}

.projects-intro img {
	border-radius: 20px;
	margin-top: 15px;
	min-height: 200px;
	height: 20vw;
}

.projects-ss h2 {
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

.projects-ss hr {
	color: whitesmoke;
	width: 60vw;
	margin: 0 auto;
}

.projects-ss {
	padding-top: 20px;
}

.projects-ps h2 {
	color: white;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

.projects-ps hr {
	color: whitesmoke;
	width: 60vw;
	margin: 0 auto;
}

.pc1 {
	background-image: url("../Photos/wood.jpg");
}

.pc2 {
	background-image: url("../Photos/zombiegame.png");
}

.pc3 {
	background-image: url("../Photos/squaresmenu.png");
}

.pc4 {
	background-image: url("../Photos/ledcubev1.png");
}

.pc5 {
	background-image: url("../Photos/ledcubev2.jpg");
}

.pc6 {
	background-image: url("../Photos/cross-section.jpg");
}

.pc7 {
	background-image: url("#");
}

.pc8 {
	background-image: url("../Photos/jareds.jpg");
}

.pc9 {
	background-image: url("#");
}

.pc10 {
	background-image: url("../Photos/jumper.png");
}

.pc11 {
	background-image: url("../Photos/car.jpg");
}

.pc12 {
	background-image: url("../Photos/lema.jpg");
}

.card h2 {
	color: #111;
}

.card:hover h2 {
	color: #DC143C;
	transition: all 0.4s ease;
}

/* About page */

.about-intro h1 {
	color: white;
	text-align: center;
	float: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.about-intro hr {
	color: whitesmoke;
	width: 20vw;
	min-width: 200px;
	margin: 0 auto;
}

.about-intro img {
	border-radius: 50%;
	margin: 20px 0;
}

.about-end img {
	border-radius: 20px;
	margin-top: 15px;
	min-height: 300px;
	height: 15vw;
}